.body-container {
  width: 100%;
  height: auto;
  padding: 24px ;
  margin: 24px ;
  background: #ffffff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0 ;
}
.gallery li {
  padding-right: 24px;
  padding-bottom: 24px;
}
.gallery img {
  width: 360px;
  height: 200px;
  top: 100px;
  left: 156px;
  display: block;
}
